@{
    ViewData["Title"] = "Musical Theater";
}

<div class="text-center">
    <h1 class="display-4">Musical Theater</h1>
    <p>with Channing Paxman</p>
</div>

<div>
    <h2>Experience</h2>
    <p>I have been performing in musicals and plays for 10 years, and have been in over 25 productions.
        Some of my favorite roles include Jack Kelly in Newsies, Rolf in The Sound of Music, 
        The Baker in Into the Woods, Wilford Woodruff and King Follett in the Nauvoo and British Pageants, and Dr. Bradman in Blithe Spirit.</p>
</div>

<div style="display: flex; align-items: center;">
    <img src="img/channingTemple.jpg" style="width: 200px; height: auto; margin-right: 20px;">
    <p>Summer of 2024 I performed in the Nauvoo and British Pageants as Wilford Woodruff and King Follett.
        It was a wonderful experience to help families come closer to Christ and strengthen their testimonies
        in Him and in His restored Gospel.</p>
</div>

<br/>
<br/>

<div style="display: flex; align-items: center;">
    <img src="img/soundOfMusic.JPG" style="width: 200px; height: auto; margin-right: 20px;">
    <p>In 2021, I performed in The Sound of Music as Rolf at the Hale Center Theater Orem. It was such a 
        powerful show that taught about the importance of family and how our hearts can be softened through music.
        Our cast felt like family. It was such a fun time.</p>
</div>
